body,html {
    background-color: #0a1117;
}
.toppage {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.goose {
    color: pink;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.Name {
    height: 100px;
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.Home {
    height: 100px;
    width: 50%;
    justify-content: space-around;
    display: flex;
    align-items: center;
}
.Login {
    height: 100px;
    width: 25%;
    gap: 30px;
    justify-content: center;
    align-items: center;
    display: flex;
}
.loginButton {
    height: 50px;
    width: 100px;
    background-color: #182632;
    border-radius: 15px;
    justify-content: center;
    align-items: center;
    display: flex;
    border-style: none;
}
.undertoppage {
    display: flex;
    align-items: center;
    justify-content: center;
}
.textbox {
    flex-direction: column;
    height: 350px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.textgoose {
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 50px;
}
.blokinsideblok {
    width: 420px;
    height: 300px;
}
.buttongetstarted {
    height: 100px;
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
}
.blockbuttongetstarted {
    height: 100px;
    width: 200px;
    justify-content: center;
    align-items: center;
    display: flex;
}
.buttonstartedget {
    background-color: #ceaaff;
    justify-content: center;
    width: 175px;
    height: 60px;
    align-items: center;
    display: flex;
    border-radius: 15px;
    border-style: none;
}
.arrowimageblock {
    height: 150px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.blockimagearrow {
    height: 100px;
    width: 200px;
    justify-content: center;
    align-items: center;
    display: flex;
}
.imgarrow {
    justify-content: center;
    width: 25px;
    height: 25px;
    align-items: center;
    display: flex;
}
.text-under-arrow {
    height: 120px;
    width: 70%;
    justify-content: center;
    align-items: center;
    display: flex;
}
.text-under-arrow-style {
    font-size: 50px;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(255, 255, 255);
}
.star-box-style {
    height: 100px;
    width: 575px;
    justify-content: center;
    align-items: center;
    display: flex;
}
.blockimagearrow {
    height: 100px;
    width: 200px;
    justify-content: center;
    align-items: center;
    display: flex;
}
.image-stars-under-arrow {
    justify-content: center;
    width: 100px;
    height: 100px;
    align-items: center;
    display: flex;
}
.project-buttons-block {
    height: 100px;
    width: 100%;
    justify-content: center;
    align-items: flex-start;
    display: flex;
}
.project-buttons-frame {
    gap: 30px;
    height: 100px;
    width: 800px;
    justify-content: center;
    align-items: center;
    display: flex;
}
.button-frame-investmentDAO {
    justify-content: center;
    align-items: center;
    display: flex;
    height: 100px;
    width: 200px;
}
.investmentDAO-button {
    height: 50px;
    width: 200px;
    background-color: #182632;
    border-radius: 30px;
    justify-content: center;
    align-items: center;
    display: flex;
    border-style: none;
}
.investmentDAO-text {
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(255, 137, 216);
}
.button-frame-StartupDAO {
    justify-content: center;
    align-items: center;
    display: flex;
    height: 100px;
    width: 200px;
}
.StartupDAO-button {
    height: 50px;
    width: 200px;
    background-color: #182632;
    border-radius: 30px;
    justify-content: center;
    align-items: center;
    display: flex;
    border-style: none;
}
.StartupDAO-text {
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(232, 255, 29);
}
.button-frame-ServiceDAO {
    justify-content: center;
    align-items: center;
    display: flex;
    height: 100px;
    width: 200px;
}
.ServiceDAO-button {
    height: 50px;
    width: 200px;
    justify-content: center;
    align-items: center;
    display: flex;
    background-color: #182632;
    border-radius: 30px;
    border-style: none;
}
.ServiceDAO-text {
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(169, 41, 255);
}
.button-frame-CommunityDAO {
    justify-content: center;
    align-items: center;
    display: flex;
    height: 100px;
    width: 205px;
}
.CommunityDAO-button {
    height: 50px;
    width: 205px;
    background-color: #182632;
    border-radius: 30px;
    justify-content: center;
    align-items: center;
    display: flex;
    border-style: none;
}
.CommunityDAO-text {
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(56, 215, 255);
}
.project-buttons-frame-rowtwo {
    height: 100px;
    width: 800px;
    display: flex;
}
.project-buttons-frame-rowtwo {
    gap: 30px;
    height: 100px;
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
}
.project-buttons-frame-rowtwo-inside {
    align-items: center;
    display: flex;
    gap: 30px;
    height: 100px;
    width: 500px;
    justify-content: center;
    align-items: center;
    display: flex;
}
.button-frame-ImpactDAO {
    justify-content: center;
    align-items: center;
    display: flex;
    height: 100px;
    width: 200px;
}
.ImpactDAO-button {
    height: 50px;
    width: 150px;
    justify-content: center;
    align-items: center;
    display: flex;
    background-color: #182632;
    border-radius: 30px;
    border-style: none;
}
.ImpactDAO-text {
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(24, 161, 220);
}
.button-frame-DeFiDAO {
    justify-content: center;
    align-items: center;
    display: flex;
    height: 100px;
    width: 150px;
}
.DeFiDAO-button {
    height: 50px;
    width: 150px;
    background-color: #182632;
    border-radius: 30px;
    justify-content: center;
    align-items: center;
    display: flex;
    border-style: none;
}
.DeFiDAO-text {
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(255, 146, 174);
}
.button-frame-PlusMore {
    justify-content: center;
    align-items: center;
    display: flex;
    height: 100px;
    width: 150px;
}
.PlusMore-button {
    height: 50px;
    width: 150px;
    background-color: #182632;
    border-radius: 30px;
    justify-content: center;
    align-items: center;
    display: flex;
    border-style: none;
}
.DAO-image-block {
    height: 520px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.DAO-image {
    height: 520px;
    width: 1200px;
}
.Designed-text-row {
    height: 100px;
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
}
.Designed-text-row2 {
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 50%;
    display: flex;
}
.star-img-design-journey {
    height: 50px;
    width: 50px;
}
.Star-design-row {
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 50%;
    display: flex;
}
.Designed-star-row {
    width: 72%;
    height: 125px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}
.row-organisation-design {
    height: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.Smart-contract-development-row {
    height: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.Fundraising-row {
    height: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.Launch-marketing-row {
    height: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.Launch-marketing-text {
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(255, 157, 245);
}
.Member-onboarding-row {
    height: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.Contributor-management-row {
    height: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.Invisible-text-gray {
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgba(128, 128, 128, 0.364);
}
.dark-yellow-text {
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgba(34, 36, 0, 0.364);
}
.GOOSE-operations-row {
    height: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.invisble-row-FullJourney {
    width: 100%;
    height: 140px;
}
.Star-left-row-works-with-section {
    width: 71%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.Star-right-row-works-with-section {
    width: 60%;
    height: 50px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}
.Star-right-row-works-with-section-img {
    height: 50px;
    width: 50px;
}
.works-with-text-row {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.works-with-text {
    font-size: 40px;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(255, 255, 255);
}
.works-with-row-buttons {
    width: 100%;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.works-with-row-buttons-frame {
    width: 50%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.works-with-buttons {
    height: 100px;
    width: 100px;
    border-radius: 20px;
    background-color: rgba(127, 127, 127, 0.153);
    border-style: solid;
    border-color: #cdaaff28;
    display: flex;
    align-items: center;
    justify-content: center;
}
.works-with-img {
    width: 120px;
    height: 120px;
}
.Works-with-Buttons-row-naming {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.Works-with-Buttons-row-naming-frame {
    width: 50%;
    height: 150px;
    display: flex;
    gap: 20px;
    justify-content: center;
}
.Work-with-text {
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(255, 255, 255);
    height: 100px;
    display: flex;
    justify-content: center;
    width: 100px;
}
.text-row-Help-at-every-step {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.Works-with-Buttons-row-naming {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.Help-at-every-step-row {
    width: 100%;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.Help-at-every-step-frame {
    width: 50%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.Help-at-every-step-img {
    height: 130px;
    width: 130px;
}
.Blue-star-Row {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.Blue-star-Frame {
    width: 50%;
    height: 50px;
    display: flex;
    justify-content: center;
    gap: 20px;
    align-items: center;
}
.star-blue-img {
    width: 25px;
    height: 25px;
}
.Purple-yellow-star-Row {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.Purple-yellow-star-Frame {
    width: 50%;
    height: 50px;
    gap: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.star-purple-img {
    width: 25px;
    height: 25px;
}
.star-yellow-img {
    width: 25px;
    height: 25px;
}
.Orange-star-Row {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.Orange-star-Frame {
    width: 50%;
    height: 50px;
    gap: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.star-orange-img {
    width: 25px;
    height: 25px;
}
.star-Light-Brown-img {
    width: 25px;
    height: 25px;
}
.Light-Brown-star-Row {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.Light-Brown-star-Frame {
    width: 50%;
    height: 50px;
    gap: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.Weekly-digest-row {
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.weekly-digest-frame {
    width: 45%;
    height: 250px;
    border-radius: 30px;
    background-color: rgba(127, 127, 127, 0.092);
    border-style: solid;
    border-color: #cdaaff2d;
}
.weekly-digest-text {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(255, 255, 255);
}
.weekly-digest-text-news {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgba(178, 215, 244, 0.23);
}
.weekly-digest-email-row {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 100%;
    height: 100px;
}
.weekly-digest-email-frame {
    width: 300px;
    height: 55px;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.182);
    color: aliceblue;
    border-style: solid;
    display: flex;
    border-color: #cdaaff1b;
}
.subscribe-text {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(0, 0, 0);
}
.subscribe-button {
    background-color: #ceaaff;
    justify-content: center;
    width: 140px;
    height: 55px;
    align-items: center;
    display: flex;
    border-radius: 10px;
    border-style: none;
}
.star-press-row {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
.star-press-frame {
    width: 35%;
    height: 100px;
}
.star-press-img {
    width: 60px;
    height: 60px;
}
.press-see-all-row {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.press-see-all-frame {
    width: 50%;
    height: 50px;
    display: flex;
}
.Press-frame {
    width: 50%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.see-all-frame {
    width: 50%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 10px;
}
.press-text {
    display: flex;
    align-items: center;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(255, 255, 255);
}
.see-all-text {
    display: flex;
    justify-self: flex-end;
    align-items: center;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgba(255, 255, 255, 0.484);
}
.see-all-arrow-img {
    width: 15px;
    height: 15px;
    color: rgba(255, 255, 255, 0.363);
}
.press-frame-boxes {
    height: 300px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
}
.press-frame-box-decrypt {
    height: 270px;
    border-radius: 10px;
    width: 250px;
    background-color: rgb(83, 255, 255);
}
.decrypt-logo-frame {
    width: 140px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.decrypt-logo {
    width: 120px;
    height: 40px;
}
.decrypt-under-logo-text-row {
    width: 100%;
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.decrypt-under-logo-text-frame {
    width: 90%;
    height: 90px;
}
.decrypt-under-Superdao-text-row {
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.decrypt-under-Superdao-text-frame {
    width: 90%;
    height: 50px;
}
.decrypt-under-aims-text-row {
    width: 100%;
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.decrypt-under-aims-text-frame {
    width: 90%;
    height: 50px;
}
.press-frame-box-Blockworks {
    height: 270px;
    border-radius: 10px;
    width: 250px;
    background-color: rgb(255, 168, 248);
}
.Blockworks-logo-frame {
    width: 140px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.Blockworks-logo {
    width: 100px;
    height: 20px;
}
.Blockworks-under-logo-text-row {
    width: 100%;
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.Blockworks-under-logo-text-frame {
    width: 90%;
    height: 90px;
}
.Blockworks-under-Superdao-text-row {
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.Blockworks-under-Superdao-text-frame {
    width: 90%;
    height: 50px;
}
.Blockworks-under-aims-text-row {
    width: 100%;
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.Blockworks-under-aims-text-frame {
    width: 90%;
    height: 50px;
}
.press-frame-box-TechCrunch {
    height: 270px;
    border-radius: 10px;
    width: 250px;
    background-color: rgb(248, 233, 139);
}
.TechCrunch-logo-frame {
    width: 140px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.TechCrunch-logo {
    width: 100px;
    height: 20px;
}
.TechCrunch-under-logo-text-row {
    width: 100%;
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.TechCrunch-under-logo-text-frame {
    width: 90%;
    height: 90px;
}
.TechCrunch-under-Superdao-text-row {
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.TechCrunch-under-Superdao-text-frame {
    width: 90%;
    height: 50px;
}
.TechCrunch-under-aims-text-row {
    width: 100%;
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.TechCrunch-under-aims-text-frame {
    width: 90%;
    height: 50px;
    
}
.Read-arrow {
    width: 10px;
    height: 10px;
}
.Star-podcasts-row {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    height: 175px;
    width: 340px;
}
.podcasts-text-row {
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.podcasts-text-frame {
    display: flex;
    width: 50%;
    height: 50px;
}
.podcasts-see-all-frame {
    width: 623px;
    height: 50px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.podcasts-row {
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.podcasts-Pomp-frame {
    width: 325px;
    height: 275px;  
    border-radius: 20px;
    background-color: rgba(127, 127, 127, 0.092);
    border-style: solid;
    border-color: #cdaaff2d;
}
.pomp-podcast-row {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pomp-podcast-frame {
    width: 85%;
    height: 50px;
}
.Understanding-dao-text-frame {
    width: 90%;
    height: 70px;
}
.The-Pomp-podcast-text-row {
    width: 100%;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.The-Pomp-podcast-text-frame {
    width: 90%;
    height: 30px;
}
.By-Anthony-Pompliano-text-frame {
    width: 90%;
    height: 30px;
}
.Listen-text-frame {
    width: 90%;
    height: 30px;
}
.unstoppable-podcast-frame {
    width: 325px;
    height: 275px;
    border-radius: 20px;
    background-color: rgba(127, 127, 127, 0.092);
    border-style: solid;
    border-color: #cdaaff2d;
}
.unstoppable-podcast-row {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.podcast-unstoppable-frame {
    width: 85%;
    height: 50px;
}
.Understanding-dao-text-row {
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
}
.By-Anthony-Pompliano-text-row {
    width: 100%;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.Listen-text-row {
    width: 100%;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.podcast-under-star-row {
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.podcast-under-star {
    height: 70px;
    width: 60px;
}
.Whats-your-GOOSE-idea-row {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.Lets-chat-and-see-how-we-can-help-row {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.Chat-row {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
.telegram-frame {
    border-radius: 15px;
    background-color: gold;
    width: 220px;
    height: 70px;
    display: flex;
}
.telegram-img-row {
    height: 100%;
    width: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.telegram-img-frame {
    border-radius: 10px;
    background-color: rgb(162, 140, 15);
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.text-frame-telegram {
    width: 100px;
    height: 100%;
}
.text-row-top-telegram {
    width: 100px;
    height: 5px;
}
.text-row-bottom-telegram {
    width: 100px;
    height: 5px;
}
.email-chat-frame {
    border-radius: 15px;
    background-color: rgb(227, 137, 255);
    width: 220px;
    height: 70px;
    display: flex;
}
.email-chat-img-row {
    height: 100%;
    width: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.email-chat-img-frame {
    border-radius: 10px;
    background-color: rgb(174, 106, 195);
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.text-frame-email-chat {
    width: 100px;
    height: 100%;
}
.text-row-top-email-chat {
    width: 100px;
    height: 5px;
}
.text-row-bottom-email-chat {
    width: 100px;
    height: 5px;
}
.email-chat-top-row-text {
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:rgb(44, 37, 0);
}
.email-chat-bottom-row-text {
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:rgba(89, 0, 80, 0.56);
}
.invisible-row-under-chat {
    width: 100%;
    height: 140px;
}
.Bottom-row {
    background-color: #181c2c;
    width: 100%;
    height: 130px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.invisible-left-row-bottom {
    width: 40%;
    height: 100px;
}
.middle-row-bottom {
    width: 300px;
    height: 100px;
    display: flex;
}
.White-Text {
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:rgb(255, 255, 255);
}
.middle-row-texts {
 width: 100px;
 height: 100px;
 display: flex;
 align-items: center;
 justify-content: center;
}
.yellow-Text {
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:rgb(255, 219, 39);
}
.invisible-right-row-bottom {
    width: 5%;
    height: 100px;
}
.right-row-bottom {
    width: 35%;
    height: 100px;
    display: flex;
    gap: 15px;
}
.icons-bottom-row {
    width: 50px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.invisible-container-above-dao-img {
    width: 100%;
    height: 90px;
}
.invisible-under-works-with-icons {
    width: 100%;
    height: 120px;
}
.Our-heroes-row {
    width: 100%;
    height: 125px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.Our-heroes-frames-row {
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}
.Heroes-frame {
 width: 250px;
 height: 250px;
 border-radius: 20px;
 background-color: pink;
}
.John-Doe-Img-Row {
    width: 100%;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.Black-text {
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:rgb(0, 0, 0);
}
.Unbolded-Black-text {
    font-weight: lighter;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:rgb(0, 0, 0);
}
.Name-row-Heroes {
    width: 100%;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.description-frame-Heroes {
    width: 90%;
    height: 20px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.description-row-Heroes {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25px;
}
.Contact-row-Heroes {
    width: 95%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 45px;
    gap: 5px;
}
.John-doe-Img {
    width: 125px;
    height: 125px;
}
.twitter-border-icon {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    background-color: rgba(0, 255, 255, 0.196);
    display: flex;
    align-items: center;
    justify-content: center;
}
.telegram-border-icon {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    background-color: rgba(0, 81, 255, 0.137);
    display: flex;
    align-items: center;
    justify-content: center;
}
.youtube-border-icon {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    background-color: rgba(255, 8, 0, 0.137);
    display: flex;
    align-items: center;
    justify-content: center;
}
.discord-border-icon {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    background-color: rgba(64, 0, 255, 0.137);
    display: flex;
    align-items: center;
    justify-content: center;
}
.Send-A-Post-Goose-row {
    width: 100%;
    height: 500px; 
    display: flex; 
    justify-content: center; 
    align-items: center;
}
.Send-A-Post-Goose-frame {
    width: 575px;
    height: 700px; 
    border-radius: 15px; 
    background-color: rgba(127, 127, 127, 0.092); 
    border-style: solid; 
    border-color: #cdaaff2d;
}
.Invisble-block-for-contact {
    width: 100%;
    height: 200px;
}
.Send-A-Post-Goose-text {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(255, 255, 255);
    padding: 10px;
}
.Send-A-Post-Goose-email-row{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 100%;
    height: 50px;
}
.Send-A-Post-Goose-email-frame{
    width: 300px;
    height: 55px;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.182);
    color: aliceblue;
    border-style: solid;
    display: flex;
    border-color: #cdaaff1b;
}
.Send-A-Post-Goose-Name-row {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100px;
}
.weekly-digest-name-frame {
    width: 300px;
    height: 55px;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.182);
    color: aliceblue;
    border-style: solid;
    display: flex;
    border-color: #cdaaff1b;
}
.Send-A-Post-Goose-Message-row {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 250px;
}
.text-area{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 250px;
}
.weekly-digest-message-frame {
    width: 300px;
    height: 250px;
    border-radius: 7px;
    background-color: rgba(0, 0, 0, 0.182);
    color: aliceblue;
    border-style: solid;
    display: flex;
    border-color: #cdaaff1b;
    resize: none;
}
.Send-A-Post-Goose-Color-Of-Goose-row {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 75px;
}
.weekly-digest-message-goosecolor {
    width: 300px;
    height: 50px;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.182);
    color: aliceblue;
    border-style: solid;
    display: flex;
    border-color: #cdaaff1b;
    resize: none;
}
.black-background {
    background-color: rgb(59, 63, 83);
}
.invisible-row-under-goose-color-select {
    width: 100%;
    height: 70px;
}
.ButtonToRight-Post-Goose {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 96%;
}
.submit-button-post-goose {
    background-color: #ceaaff;
    border-radius: 10px;
    width: 100px;
    height: 40px;
    display: flex;
    border-style: none;
    justify-content: center;
    align-items: center;
}
.Invisible-Row-Under-goose-post {
    width: 100%;
    height: 190px;
}